In [3]:
!pip install pyspark
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("Store market Analysis").getOrCreate()

StocksAMRB = spark.read.option("header",True) \
     .csv("AMRB.csv")

StocksAMRB.show()

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
+----------+-----+-----+-----+-----+------+---------+
|      Date| Open| High|  Low|Close|Volume|Adj Close|
+----------+-----+-----+-----+-----+------+---------+
|2015-08-07|10.05|10.09|10.05|10.08|  1800|    10.08|
|2015-08-06|10.07|10.09| 9.88| 9.99|  9900|     9.99|
|2015-08-05|10.05|10.10|10.05|10.08| 10500|    10.08|
|2015-08-04|10.15|10.15|10.05|10.09|  6200|    10.09|
|2015-08-03|10.02|10.15|10.00|10.15| 57100|    10.15|
|2015-07-31|10.03|10.10|10.00|10.07| 25500|    10.07|
|2015-07-30|10.01|10.05| 9.99|10.00|  9900|    10.00|
|2015-07-29|10.03|10.03| 9.98| 9.99| 18200|     9.99|
|2015-07-28| 9.99| 9.99| 9.95| 9.95| 12500|     9.95|
|2015-07-27| 9.99| 9.99| 9.90| 9.94|  8600|     9.94|
|2015-07-24| 9.99| 9.99| 9.90| 9.92|  3900|     9.92|
|2015-07-23| 9.99| 9.99| 9.98| 9.99|  2700|     9.99|
|2015-07-22| 9.95| 9.99| 9.95| 9.98|  2400|     9.98|
|2015-07-21| 9.97| 9.99| 9.86| 9.96|218900|     9.96|
|2015-07-20|10.00|10.08| 9.91| 9.97| 26500|     9.97|
|2015-07-17| 9.75|10.00| 9.75| 9.83| 26700|     9.83|
|2015-07-16| 9.37| 9.73| 9.35| 9.53|  4900|     9.53|
|2015-07-15| 9.35| 9.35| 9.35| 9.35|   000|     9.35|
|2015-07-14| 9.35| 9.35| 9.35| 9.35|   000|     9.35|
|2015-07-13| 9.16| 9.35| 9.16| 9.35|   600|     9.35|
+----------+-----+-----+-----+-----+------+---------+
only showing top 20 rows

In [8]:
StocksAMRB.createOrReplaceTempView("AMRB");

In [11]:
spark.sql("select count(*) from AMRB").show()

+--------+
|count(1)|
+--------+
|    4176|
+--------+

In [ ]:
spark.sql("select * from AMRB")

In [5]:
spark.sql("select Date,Open, High,Low,Close,'Adj Close',Volume from AMRB").show()

+----------+-----+-----+-----+-----+---------+------+
|      Date| Open| High|  Low|Close|Adj Close|Volume|
+----------+-----+-----+-----+-----+---------+------+
|2015-08-07|10.05|10.09|10.05|10.08|Adj Close|  1800|
|2015-08-06|10.07|10.09| 9.88| 9.99|Adj Close|  9900|
|2015-08-05|10.05|10.10|10.05|10.08|Adj Close| 10500|
|2015-08-04|10.15|10.15|10.05|10.09|Adj Close|  6200|
|2015-08-03|10.02|10.15|10.00|10.15|Adj Close| 57100|
|2015-07-31|10.03|10.10|10.00|10.07|Adj Close| 25500|
|2015-07-30|10.01|10.05| 9.99|10.00|Adj Close|  9900|
|2015-07-29|10.03|10.03| 9.98| 9.99|Adj Close| 18200|
|2015-07-28| 9.99| 9.99| 9.95| 9.95|Adj Close| 12500|
|2015-07-27| 9.99| 9.99| 9.90| 9.94|Adj Close|  8600|
|2015-07-24| 9.99| 9.99| 9.90| 9.92|Adj Close|  3900|
|2015-07-23| 9.99| 9.99| 9.98| 9.99|Adj Close|  2700|
|2015-07-22| 9.95| 9.99| 9.95| 9.98|Adj Close|  2400|
|2015-07-21| 9.97| 9.99| 9.86| 9.96|Adj Close|218900|
|2015-07-20|10.00|10.08| 9.91| 9.97|Adj Close| 26500|
|2015-07-17| 9.75|10.00| 9.75| 9.83|Adj Close| 26700|
|2015-07-16| 9.37| 9.73| 9.35| 9.53|Adj Close|  4900|
|2015-07-15| 9.35| 9.35| 9.35| 9.35|Adj Close|   000|
|2015-07-14| 9.35| 9.35| 9.35| 9.35|Adj Close|   000|
|2015-07-13| 9.16| 9.35| 9.16| 9.35|Adj Close|   600|
+----------+-----+-----+-----+-----+---------+------+
only showing top 20 rows

In [9]:
# Transactions Quotidiennes (facile)
spark.sql("select Date,Open,Close from AMRB").show()

+----------+-----+-----+
|      Date| Open|Close|
+----------+-----+-----+
|2015-08-07|10.05|10.08|
|2015-08-06|10.07| 9.99|
|2015-08-05|10.05|10.08|
|2015-08-04|10.15|10.09|
|2015-08-03|10.02|10.15|
|2015-07-31|10.03|10.07|
|2015-07-30|10.01|10.00|
|2015-07-29|10.03| 9.99|
|2015-07-28| 9.99| 9.95|
|2015-07-27| 9.99| 9.94|
|2015-07-24| 9.99| 9.92|
|2015-07-23| 9.99| 9.99|
|2015-07-22| 9.95| 9.98|
|2015-07-21| 9.97| 9.96|
|2015-07-20|10.00| 9.97|
|2015-07-17| 9.75| 9.83|
|2015-07-16| 9.37| 9.53|
|2015-07-15| 9.35| 9.35|
|2015-07-14| 9.35| 9.35|
|2015-07-13| 9.16| 9.35|
+----------+-----+-----+
only showing top 20 rows

In [13]:
# Volatilité Journalière (facile)
spark.sql("select Date, (Close - Open) As VolatiliteJournaliere from AMRB").show()

+----------+---------------------+
|      Date|VolatiliteJournaliere|
+----------+---------------------+
|2015-08-07|  0.02999999999999936|
|2015-08-06| -0.08000000000000007|
|2015-08-05|  0.02999999999999936|
|2015-08-04|  -0.0600000000000005|
|2015-08-03|  0.13000000000000078|
|2015-07-31| 0.040000000000000924|
|2015-07-30| -0.00999999999999...|
|2015-07-29| -0.03999999999999915|
|2015-07-28| -0.04000000000000...|
|2015-07-27| -0.05000000000000071|
|2015-07-24| -0.07000000000000028|
|2015-07-23|                  0.0|
|2015-07-22| 0.030000000000001137|
|2015-07-21| -0.00999999999999...|
|2015-07-20| -0.02999999999999936|
|2015-07-17|  0.08000000000000007|
|2015-07-16|  0.16000000000000014|
|2015-07-15|                  0.0|
|2015-07-14|                  0.0|
|2015-07-13|   0.1899999999999995|
+----------+---------------------+
only showing top 20 rows

In [14]:
# Extrêmes de Volume (intermédiaire)
spark.sql("select min(Volume) As MinVolume, max(Volume) As MaxVolume from AMRB").show()

+---------+---------+
|MinVolume|MaxVolume|
+---------+---------+
|      000|     9900|
+---------+---------+

In [16]:
# Moyenne Annuelle des Valeurs d'Ouverture (intermédiaire)
spark.sql("select YEAR(Date) As Annee, avg(Open) As Moyenne from AMRB Group By YEAR(Date)").show()

+-----+------------------+
|Annee|           Moyenne|
+-----+------------------+
| 2003| 25.18746969047617|
| 2007|22.980238111553767|
| 2015| 9.569072847682113|
| 2006| 26.05618857370518|
| 2013| 8.263333333333334|
| 2014| 9.335357142857145|
| 2004|21.365570214285697|
| 2012|           6.87452|
| 2009| 8.862698412698414|
| 2001|15.780382778225805|
| 2005|22.401920853174605|
| 2000|13.148542638888907|
| 2010| 7.056746031746034|
| 2011|  5.75373015873016|
| 2008|12.835374984189723|
| 1999| 16.60030538492061|
| 2002| 19.32290554761907|
+-----+------------------+

In [19]:
# Total des Volumes par Mois (intermédiaire)
spark.sql("select MONTH(Date) As Mois, sum(Volume) As TotalVolume from AMRB Group by MONTH(Date) Order by MONTH(Date)").show()

+----+-----------+
|Mois|TotalVolume|
+----+-----------+
|   1|  3004900.0|
|   2|  3313500.0|
|   3|  2074800.0|
|   4|  1899400.0|
|   5|  2226800.0|
|   6|  1831100.0|
|   7|  2393700.0|
|   8|  1807200.0|
|   9|  2095700.0|
|  10|  2037400.0|
|  11|  1925400.0|
|  12|  2706600.0|
+----+-----------+

In [24]:
spark.sql("select (Close - Open) As Ecart from AMRB Order By (Close - Open) DESC").show()

+-------------------+
|              Ecart|
+-------------------+
|-2.6100070000000013|
|-1.9299999999999997|
|             -1.875|
| -1.509998000000003|
|-1.4499949999999977|
|-1.4400009999999988|
|-1.4000160000000008|
|-1.3800050000000006|
|-1.3749840000000013|
|-1.3600010000000005|
|-1.3600009999999987|
|          -1.259995|
|-1.2500049999999998|
|          -1.249993|
|-1.2499919999999989|
| -1.239996999999999|
|-1.2399950000000004|
| -1.230005000000002|
|-1.2300000000000004|
|-1.2299929999999968|
+-------------------+
only showing top 20 rows

In [29]:
# Plus grand ecart quotidien
spark.sql("select Ecart As GrandEcart from (select (Close - Open) As Ecart from AMRB Order By (Close - Open) Desc ) Limit 1").show()

+-------------------+
|         GrandEcart|
+-------------------+
|-2.6100070000000013|
+-------------------+

In [31]:
# Moyenne Mobile du prix de Cloture sur 7 Jours (avancé)
from pyspark.sql import Window
from pyspark.sql import functions as F


w = (Window.orderBy('Date').rowsBetween(-6, 0))

StocksAMRB_new = StocksAMRB.withColumn('rolling_average', F.avg('Close').over(w))

StocksAMRB_new.show()

+----------+---------+---------+---------+---------+------+---------+------------------+
|      Date|     Open|     High|      Low|    Close|Volume|Adj Close|   rolling_average|
+----------+---------+---------+---------+---------+------+---------+------------------+
|1999-01-04|15.499987|15.499987|15.499987|15.499987|  4200| 5.205324|         15.499987|
|1999-01-05|15.874981|15.874981|15.874981|15.874981|  2900| 5.331257|15.687484000000001|
|1999-01-06|15.499987|16.187472|15.499987|15.499987|  7400| 5.205324|         15.624985|
|1999-01-07|15.499987|15.499987|15.499987|15.499987|   000| 5.205324|15.593735500000001|
|1999-01-08|15.499987|15.562489|15.499987|15.562489|  4800| 5.226314|        15.5874862|
|1999-01-11|15.562489|15.562489|15.562489|15.562489|   000| 5.226314|          15.58332|
|1999-01-12|15.562489|15.562489|15.562489|15.562489|   000| 5.226314|15.580344142857143|
|1999-01-13|15.562489|15.562489|15.562489|15.562489|   000| 5.226314|         15.589273|
|1999-01-14|16.187472|16.187472|16.187472|16.187472|   400|   5.4362|15.633914571428573|
|1999-01-15|16.374982|16.374982|16.374982|16.374982|  4400| 5.499171|15.758913857142858|
|1999-01-19|16.374982|16.374982|16.374982|16.374982|   000| 5.499171|15.883913142857143|
|1999-01-20|16.374982|16.374982|15.687472|15.687472|   900| 5.268286|15.901767857142858|
|1999-01-21|16.124993|16.374982|16.124993|16.374982|   600| 5.499171|16.017838285714287|
|1999-01-22|15.999987|15.999987|15.999987|15.999987|  5800| 5.373238|         16.080338|
|1999-01-25|16.374982|16.374982|16.374982|16.374982|  5800| 5.499171| 16.19640842857143|
|1999-01-26|16.374982|16.374982|16.374982|16.374982|   000| 5.499171|16.223195571428572|
|1999-01-27|16.374982|16.374982|16.374982|16.374982|   000| 5.499171|16.223195571428572|
|1999-01-28|16.374982|16.499988|16.374982|16.499988|  1300| 5.541151|16.241053571428573|
|1999-01-29|16.499988|16.499988|16.374982|16.374982|  5300| 5.499171|16.339269285714288|
|1999-02-01|16.374982|16.374982|16.374982|16.374982|   000| 5.499171|16.339269285714288|
+----------+---------+---------+---------+---------+------+---------+------------------+
only showing top 20 rows